@import "tailwindcss";

@theme inline {
  --color-background: #f9fafb;
  --color-foreground: #111827;
  --color-primary: #4f46e5;
  --color-primary-light: #818cf8;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
